@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ededed;
}

header {
    background-color: #00c2ba;
}

.container {
    background-color: #00c2ba;
}

.navbar {
    background-color: #00c2ba;
}

.nav-link {
    color: white !important;
    font-weight: 700;
    min-width: 70px !important;
}

.book-type {
    font-size: large;
    font-weight: 700;
    padding: 15px;
}

.book-type:hover {
    color: #00c2ba;
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}

.navbar-custom a:hover {
    color: white;
    background-color: #e39602;
}

.navbar-custom a {
    padding: 10px;
    align-content: center;
}

.avatar-nav {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    font-size: large;
    font-weight: 700;
    transition: all 0.6s;
    border-bottom: 1px solid #e4e4e4;
    color: #00c2ba;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: white;
    background-color: #00c2ba;
}

.contact {
    color: #fff;
    font-size: large;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.contact:hover {
    color: white;
    text-decoration: none;
    transition: all 0.7s;
}

.profile-user {
    padding-left: 65px;
    align-items: center;
}

.profile-avatar {
    padding-right: 45px;
}

.carousel {
    margin-top: 65px;
}

.carousel-item {
    max-height: 700px;
}

@media only screen and (min-width: 1200px) {
    .book {
        width: 700px;
        height: 300px;
    }

    .search-bar {
        padding-left: 200px;
    }

    .search-bar input {
        min-width: 300px;
    }
}

/* Search Icon Custom CSS*/
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 15px 10px 0px 10px;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.logIn {
    font-size: larger;
    font-weight: 700;
    color: white;
}

.logIn:hover {
    text-decoration: none;
    color: white;
}

/* Container-1 custom */
.container-1 {
    min-height: 150px;
    background-color: white;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.tag-icon {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-icon p {
    padding-left: 10px;
    display: inline;
    color: #00c2ba;
    font-size: large;
    font-weight: bolder;
}

em {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    font-size: 30px;
    background-color: white;
    color: #00c2ba !important;
    height: 80px;
    line-height: 2.5;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    padding-top: 25px;
    padding-left: 5px;
    width: 80px;
}

em:hover {
    background-color: #00c2ba;
    color: white !important;
    transition: 0.5s;
    cursor: pointer;
}

/* Container-2 */
.container-2 {
    min-height: 550px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    padding: 45px 0px 0px 0px;
}

.wrap-1 {
    width: 100%;
}

.container-2 .wrap-1 h3 {
    text-align: center;
    font-weight: bolder;
}

.container-2 .wrap-1 h3::after {
    content: "\f106 \f106 \f106 \f106 \f106 \f106 \f106 \f106";
    display: block;
    font-family: "FontAwesome";
    font-size: 12px;
    margin-top: 3px;
}

.wrap-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.wrap-2 .product .product-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    background-color: white;
    max-width: 250px;
    margin: 15px;
}

.product-head-hover {
    width: 80%;
    height: 75%;
    display: block;
    position: absolute;
}

.product-head-hover:hover {
    transition: 0.5s;
    opacity: 1;
    background-color: rgba(27, 29, 42, 0.886);
}

.product-head-hover a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45%;
    max-width: 50px;
    max-height: 55px;
    margin: 0 auto;
    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.product-head-hover:hover a {
    background-color: #00c2ba;
    color: white;
    transition: 0.5s;
}

.product-head-hover:hover a::after {
    display: block;
    content: "\f0c1";
    font-family: "FontAwesome";
    font-size: 24px;
    transition: 0.5s;
    color: white;
}

.product-tail {
    text-align: center;
    font-size: 24px;
}

.product-tail a {
    color: black;
    text-decoration: none;
}

.product-tail h4 {
    font-weight: bolder;
    cursor: pointer;
}

.product-tail h4:hover {
    color: #00c2ba;
    transition: 0.5s;
}

.product-tail .price {
    text-decoration: line-through;
}

.product-tail .sale-price {
    color: #00c2ba;
    font-weight: bolder;
}

/* Back to Top Btn */
#myBtn {
    font-size: 24px;
    height: 70px;
    width: 70px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00c2ba; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 45px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    transition: 0.5s;
  }

/* BLOG */
.wrap-1-Blog {
    width: 100%;
}

.wrap-2-Blog {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 45px;
    margin-left: 5px;
}

.container-2 .wrap-1-Blog h3 {
    text-align: center;
    font-weight: bolder;
    color: #00c2ba;
}

.container-2 .wrap-1-Blog h3::after {
    content: "\f106 \f106 \f106 \f106 \f106 \f106 \f106 \f106";
    display: block;
    font-family: "FontAwesome";
    color: #00c2ba;
    font-size: 12px;
    margin-top: 3px;
}

.blog {
    background-color: white;
    max-width: 350px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.product-head-blog {
    max-width: 350px;
    max-height: 200px;
    overflow: hidden;
}

.blog .product-head-blog img {
    width: 350px;
    max-height: 200px;
}

.blog .product-head-blog:hover img {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.7s;
  }

.product-tail-blog {
    text-align: center;
    font-size: 24px;
}

.product-tail-blog a {
    color: black;
    text-decoration: none;
}

.product-tail-blog h4 {
    padding-top: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.product-tail-blog h4:hover {
    color: #00c2ba;
    transition: 0.5s;
}

.product-tail-blog p {
    color: #00c2ba;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.product-tail-blog button {
    margin-bottom: 15px;
}

.brand {
    background-color: white;
}

.brandSlide {
    padding: 0px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    min-height: 400px;
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding: 80px;
}

ul, li, ol {
    list-style: none;
}

.address-info {
    padding: 0;
    margin: 0;
}

.address-info li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-line {
    background-color: #00c2ba;
    height: 2px;
    margin: 10px auto 25px 0;
    padding: 0;
    width: 36px;
}

.customer-sp {
    padding: 0;
    margin: 0;
}

.customer-sp li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.customer-sp a {
    color: #fff;
}

.customer-sp a:hover {
    text-decoration: none;
    color: #00c2ba;
    transition: all 0.5s;
    cursor: pointer;
}

.Copyright {
    min-height: 100px;
    background-color: #333333;
}

.copyRight-title {
    color: #fff;
    padding: 35px;
    text-align: center;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
}

.social-list {
    padding: 35px;
    text-align: center;
}

.social-app {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-instagram { 
    font-size:30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube {
    color: red
}

.fa-twitter-square {
    color: #00b6f1;
}

.cart:hover {
    text-decoration: none;
    color: red;
    transition: all 0.7s;
}
.cart{
    color:white
}