@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

header {
    background-color: #00c2ba;
}

.navbar {
    background-color: #00c2ba;
}

.nav-link {
    color: white !important;
    font-weight: 700;
    min-width: 70px !important;
}

.book-type {
    font-size: large;
    font-weight: 700;
    padding: 15px;
}

.book-type:hover {
    color: #00c2ba;
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}

.navbar-custom a:hover {
    color: white;
    background-color: #e39602;
}

.navbar-custom a {
    padding: 10px;
    align-content: center;
}

.carousel {
    margin-top: 65px;
}

.carousel-item {
    max-height: 700px;
}

@media only screen and (min-width: 1200px) {
    .book {
        width: 700px;
        height: 300px;
    }

    .search-bar {
        padding-left: 200px;
    }

    .search-bar input {
        min-width: 300px;
    }
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 15px 10px 0px 10px;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.logIn {
    font-size: larger;
    font-weight: 700;
    color: white;
}

.logIn:hover {
    text-decoration: none;
    color: white;
}

.card{
    min-height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-footer a {
    color: #ffc312 !important;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-google-plus-square {
    color: #bb001b;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #00c2ba;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #00c2ba;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #00c2ba;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}