head
    title Login Page
    // Made with love by Mutiullah Samim
    // Bootsrap 4 CDN
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    // Fontawesome CDN
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
    // Custom styles
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    link(rel="stylesheet" href="LOGIN.css")
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
.container
  header.w-100.fixed-top
    .container-fluid
      nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href='/')
          img(src="logo.png" alt="Book Store logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/') HOME
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | BOOK
              .dropdown-menu.book(aria-labelledby='navbarDropdownMenuLink')
                div.row.navbar-custom
                  div.col-xl-6
                    .dropdown-item.book-type(href='#') FICTION BOOK
                    a.dropdown-item(href='#') Crime and Mystery
                    a.dropdown-item(href='#') Fantasy
                    a.dropdown-item(href='#') Model Fiction
                    a.dropdown-item(href='#') Romace
                    a.dropdown-item(href='#') Adventure
                  div.col-xl-6
                    .dropdown-item.book-type(href='#') NON-FICTION BOOK
                    a.dropdown-item(href='#') Biography and True Story
                    a.dropdown-item(href='#') English Language Teaching
                    a.dropdown-item(href='#') Personal Development
                    a.dropdown-item(href='#') Lifestyle, Cooking, Health
                    a.dropdown-item(href='#') Reference Books
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | E-BOOK
              .dropdown-menu.book(aria-labelledby='navbarDropdownMenuLink')
                div.row.navbar-custom
                  div.col-xl-6
                    .dropdown-item.book-type(href='#') FICTION BOOK
                    a.dropdown-item(href='#') Crime and Mystery
                    a.dropdown-item(href='#') Fantasy
                    a.dropdown-item(href='#') Model Fiction
                    a.dropdown-item(href='#') Romace
                    a.dropdown-item(href='#') Adventure
                  div.col-xl-6
                    .dropdown-item.book-type(href='#') NON-FICTION BOOK
                    a.dropdown-item(href='#') Biography and True Story
                    a.dropdown-item(href='#') English Language Teaching
                    a.dropdown-item(href='#') Personal Development
                    a.dropdown-item(href='#') Lifestyle, Cooking, Health
                    a.dropdown-item(href='#') Reference Books
            li.nav-item
                a.nav-link(href='#') BLOG
            li.nav-item
                a.nav-link(href='#') CONTACT
        .d-flex.justify-content-between.align-items-center
          form.form-inline.my-2.my-lg-0.search-bar
              .input-icons
                  i(class="fas fa-search icon")
                  input(class="input-field form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
          if user
              ul.navbar-nav.profile-user.d-flex.justify-content-end
                  if user.image !== null
                      li.nav-item.profile-avatar
                          a(href="#")
                              img(src=user.image alt="Avatar" class="avatar-nav")
                      li.nav-item.dropdown
                          a(class="contact" href="#")= user.username
                          div(class="dropdown-content")
                              a(class="dropdown-item" href="/profile") Profile
                              a(class="dropdown-item" href="/logOut") Log Out
                  else
                      i.px-2(class="fas fa-user-circle fa-3x")
          else
              i.px-2(class="fas fa-user-circle fa-3x")
              a.px-2(class="logIn" href="/LogIn") LOG IN 
              button.px-2(type="button" class="btn btn-dark") 
                  a.logIn(href="/signUp") SIGN UP
  .d-flex.justify-content-center.h-100
    .card
      .card-header
        h3 Log In
        .d-flex.justify-content-end.social_icon
          span
            i.fab.fa-facebook-square
          span
            a(href="/signUp/google")
              i.fab.fa-google-plus-square
      .card-body
        if errors
            each error in errors
              .alert.alert-danger= error
        form(action="/logIn" method="POST")
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i.fas.fa-user
            input.form-control(type='text' placeholder='username' name='username' required)
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i.fas.fa-key
            input.form-control(type='password' placeholder='password' name='password' required)
          .row.align-items-center.remember
            input(type='checkbox' name='remember')
            | Remember Me
          .form-group
            input.btn.float-right.login_btn(type='submit' value='Login')
      .card-footer
        .d-flex.justify-content-center.links
          | Don&apos;t have an account?
          a(href='#') Sign Up
        .d-flex.justify-content-center
          a(href='#') Forgot your password?